.productPage {
    background-image: linear-gradient(var(--lightBlue),white);
    color: var(--darkBlue);
    padding: 2rem 3rem 0 3rem;
}
.productPageHeading {
    text-align: center;
    margin-bottom: 2rem;
}
.product {
    display: grid;
    /* grid-auto-flow: column; */
    /* grid-template-columns: repeat(auto-fit, minmax(160px,200px));
    grid-auto-rows:max(120px); */
    /* gap: 2rem; */
    /* margin-left:auto;
    margin-right: auto; */
    justify-items: center;
}
.productPageList li {
    display:grid;
}
.productPage a {
    text-align: center;
    text-decoration: none;
    color:var(--darkBlue);
    border-radius: 8px;
}
.productPage a:hover {
    transform: scale(1.1);
    transition-duration: 300ms;
    background-color: var(--lightBlue);
}
.productPage button {
    background-color: var(--yellow);
    border:none;
    border-radius: 8px;
    padding:8px;
    margin:8px;
}
.productPage button:hover {
    transform: scale(1.1);
    transition-duration: 300ms;
    background-color: var(--lightBlue);
}
.productPage input {
    width: 4rem;
    text-align: center;
    font-size: 1.4rem;
    
}
.productPageButtons {
    display:grid;
    grid-auto-flow: column;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}