:root {
 --lightBlue:#8ecae6;
 --blue:#219ebc;
 --darkBlue:#023047;
 --yellow:#ffb703;
 --orange:#fb8500;
 /* background-color: var(--lightBlue); */
}
/* Color Palette https://coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500 */
* {
  margin: 0px;
  padding: 0px;
}
.red {
  filter: invert(9%) sepia(100%) saturate(7421%) hue-rotate(4deg) brightness(92%) contrast(110%);
}
.blue {
  filter: invert(9%) sepia(100%) saturate(7383%) hue-rotate(247deg) brightness(81%) contrast(141%);
}
.green {
  filter: invert(55%) sepia(61%) saturate(3048%) hue-rotate(83deg) brightness(109%) contrast(127%);
}
.navBar {
  display:grid;
  /* grid-auto-flow: column; */
  /* justify-content:center; */
  align-content: center;
  height:5vh;
  background-color:var(--yellow);
  /* border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; */
  font-size: 1.5rem;
  padding: 8px;
  padding-left: 2rem;
  padding-right: 2rem;

}
.navBarLinks {
  display:grid;
  align-items: center;
  grid-auto-flow: column;
  list-style-type: none;
}
.navBarLinks a {
  text-decoration: none;
  color:var(--darkBlue);
  
}
.navBarLinks li:hover {
  /* background-color: var(--lightBlue); */
  transform: scale(1.1);
}
.navBarCart {
  text-align: end;
}
.homeBody {
  color:var(--darkBlue);
  padding: 2rem 3rem 0 3rem;
  background-image:linear-gradient(var(--lightBlue), white)
}
.homeHeading {
  text-align: center;
  padding-bottom: 1rem;
}
.homeDescription {
  margin-bottom: 1rem;
}
.homeList {
  text-align: center;
  padding-bottom: 1rem;
}
.homeListItems {

}
.homeProductLink {
  font-size: 2rem;
  background-color: var(--yellow);
  padding:12px;
  margin:12px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width: fit-content;
  border-radius: 8px;
  
}
.homeProductLink:hover {
  background-color: var(--lightBlue);
  color: var(--yellow);
  transform:scale(1.1);
  transition-duration: 300ms;
}
.homeProductLink a {
  text-decoration: none;
  color: var(--darkBlue);
}